.company {
  padding-top: 100px;
  padding-bottom: 250px;
  min-height: 585px;
  position: relative;
  overflow: hidden;

  @media (max-width: $tablets-max) {
    padding-top: 200px;
    padding-bottom: 170px;
  }

  @media (max-width: $mobiles-max) {
    padding-top: 72px;
  }

  @media (max-width: $mobiles) {
    padding-bottom: 190px;
  }
}

.company__background-title {
  position: absolute;
  content: '';
  top: 53.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1920px;
  transition: $transition-settings;
  mix-blend-mode: overlay;
  opacity: 0.52;
  z-index: 1;

  @media (max-width: $mobiles-max) {
    top: 75%;
    max-width: 600px;
  }

  @media (max-width: $mobiles) {
    top: 69%;
  }

  p {
    font-family: 'Play';
    font-style: normal;
    font-weight: normal;
    font-size: 250px;
    line-height: 289px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: $color-green-light;

    mix-blend-mode: overlay;
    opacity: 0.52;

    @media (max-width: $tablets-max) {
      font-size: 175px;
    }

    @media (max-width: $mobiles-max) {
      font-size: 65px;
      line-height: 75px;
    }

    &:first-of-type {
      margin-right: auto;
      display: block;
      width: fit-content;

      margin-left: -25px;

      @media (max-width: $mobiles-max) {
        margin-left: 0;
      }
    }

    &:last-of-type {
      margin-left: auto;
      display: block;
      width: fit-content;
      margin-right: -68px;

      margin-top: -75px;

      @media (max-width: $mobiles-max) {
        margin-right: -25px;
        margin-top: -40px;
      }
    }
  }
}

.company__blobs {
  position: absolute;
  content: '';
  display: block;
  max-width: 1920px;
  width: 100%;
  height: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (max-width: $mobiles-max) {
    height: 260px;
    top: 85%;
  }
}

.company__blob {
  position: absolute;
  content: '';
  width: 163px;
  height: 163px;
  top: 30%;
  left: 30%;

  @media (max-width: $mobiles-max) {
    transform: translate(0, -70%);
  }
}

.company__texts {
  position: relative;
  width: 401px;
  display: block;
  margin: 0 auto;
  padding: 90px 0;
  z-index: 1;

  @media (max-width: $mobiles-max) {
    width: 100%;
    padding: 52px 0;
  }

  p {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    margin: 0 0 25px 0;
    color: $color-white;

    @media (max-width: $mobiles-max) {
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
      margin: 0 0 18px 0;
    }
  }
}
