@font-face {
  font-family: 'Play';
  src: url('~@/assets/fonts/playregular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Play';
  src: url('~@/assets/fonts/playbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('~@/assets/fonts/Ibmplexsansthin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('~@/assets/fonts/Ibmplexsansextralight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('~@/assets/fonts/Ibmplexsanslight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('~@/assets/fonts/Ibmplexsans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('~@/assets/fonts/Ibmplexsanstext.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('~@/assets/fonts/Ibmplexsansmedium.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('~@/assets/fonts/Ibmplexsanssemibold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('~@/assets/fonts/Ibmplexsansbold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none !important;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;

  /* white */

  color: $color-white;

  background-color: $color-black-main;

  width: 100%;
  height: 100%;
  margin: 0 auto;

  button,
  p,
  span,
  h3,
  h4,
  h5 {
    font-family: 'IBM Plex Sans', sans-serif;
  }

  h1 {
    font-family: 'Play', sans-serif;
    color: $color-white;
    font-style: normal;
    font-weight: normal;
    // font-size: 72px;
    // line-height: 83px;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    @media (max-width: $mobiles-max) {
      font-style: normal;
      font-weight: normal;
      font-size: 40px;
      line-height: 46px;
      text-align: center;
      letter-spacing: 0.08em;
      text-transform: uppercase;
    }
  }

  h2 {
    font-family: 'Play', sans-serif;
    color: $color-white;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 65px;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    @media (max-width: $mobiles-max) {
      font-style: normal;
      font-weight: normal;
      font-size: 40px;
      line-height: 46px;
      text-align: center;
      letter-spacing: 0.08em;
      text-transform: uppercase;
    }
  }

  overflow-y: scroll;

  @media (max-width: $tablets-max) {
    overflow-y: initial;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a,
button {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: $color-white;

  &:focus {
    outline: none !important;
  }
}

h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 66px;
  letter-spacing: 0em;
  text-align: left;
  color: $color-white;
  margin: 0;
  padding: 0;

  @media (max-width: $mobiles-max) {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: center;
  }
}

h2 {
  font-style: normal;
  font-weight: 400;

  font-size: 56px;
  line-height: 65px;

  letter-spacing: 0em;
  text-align: left;

  margin: 0;
  padding: 0;
  color: $color-white;

  @media (max-width: $mobiles-max) {
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
  }

  @media (max-width: 350px) {
    font-size: 18px;
  }
}

h3 {
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0em;
  text-align: left;

  margin: 0;

  @media (max-width: $mobiles-max) {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
  }
}

h4 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;

  margin: 0;

  @media (max-width: $mobiles-max) {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
  }
}

h5 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}

h6 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0 0 15px 0;
}

a {
  text-decoration: none;
  transition: all 0.3s;

  &:hover {
    cursor: pointer;
  }
}

input,
textarea {
  color: $color-black !important;
  opacity: 1 !important;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.container {
  width: 100%;
  max-width: $container;
  margin: 0 auto;
  transition: $transition-settings;

  padding-right: 60px;
  padding-left: 60px;

  @media (max-width: $tablets-max) {
    padding-right: 53px;
    padding-left: 53px;
  }

  @media (max-width: $mobiles-max) {
    padding-right: 25px;
    padding-left: 25px;
  }
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;

  .header,
  .footer {
    flex-shrink: 0;
  }

  main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.grecaptcha-badge {
  display: none;
}

.scroll-off {
  overflow: hidden;
}

.notification-content {
  font-size: 1rem;

  a {
    color: $color-white !important;
    text-decoration: underline;
  }
}

.vue-notification {
  padding: 12px !important;
  color: $color-white !important;
  border-left: none !important;
  margin: 0 !important;
  padding-left: 22px !important;
}

.vue-notification.error {
  background: $color-black !important;
  border-left-color: $color-white !important;
  color: $color-white !important;
}

.vue-notification.success {
  background: $color-black !important;
  border-left-color: $color-white !important;
}

.overlay {
  filter: blur(4px);
}

.main {
  background-color: $color-black-main;
}

.d-none {
  display: none !important;
}

#overlay-spinner {
  position: absolute !important;
  top: 0;
  background-color: $color-black-main !important;

  z-index: 2 !important;
}

.loader-spinner {
  z-index: 200;
  height: 230px !important;
  width: 230px !important;

  @media (max-width: $mobiles-max) {
    width: 160px !important;
    height: 160px !important;
  }
}


// Placeholder

[placeholder] {
  transition: all $transition-settings;
}

:-webkit-input-placeholder {
  -webkit-transition: all $transition-settings;
  transition: all $transition-settings;
}

:-moz-placeholder {
  -moz-transition: all $transition-settings;
  transition: all $transition-settings;
}

::-moz-placeholder {
  -moz-transition: all $transition-settings;
  transition: all $transition-settings;
}

:-ms-input-placeholder {
  -ms-transition: all $transition-settings;
  transition: all $transition-settings;
}

:focus[placeholder] {
  outline: none;
  transition: all $transition-settings;
}

:focus::-webkit-input-placeholder {
  outline: none;
  -webkit-transition: all $transition-settings;
  transition: all $transition-settings;
}

:focus::-moz-placeholder {
  outline: none;
  -moz-transition: all $transition-settings;
  transition: all $transition-settings;
}

:focus:-moz-placeholder {
  outline: none;
  -moz-transition: all $transition-settings;
  transition: all $transition-settings;
}

:focus:-ms-input-placeholder {
  outline: none;
  -ms-transition: all $transition-settings;
  transition: all $transition-settings;
}