/* general */
$mobiles: 500px;
$mobiles-max: 767px;
$tablets: 768px;
$tablets-sm: 950px;
$tablets-md: 1024px;
$tablets-max: 1199px;
$desktops: 1200px;
$desktops-sm: 1500px;
$desktops-md: 1720px;
$desktops-lg: 1800px;
$desktops-xl: 2300px;
$container: 1500px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$transition-settings: 0.3s all;

$color-red: #ff5b5b;
$color-black: #000;
$color-white: #fff;
$color-black-main: #0f1110;
$color-green-dark: #009a77;
$color-green-light: #00ffc5;
$color-green-smooth: #86ffe3;
$color-green-active: #00e5b1;
$color-grey: #616161;

$color-placeholder: #d8d8d8;