.details {
  display: block;
  position: relative;

  margin: 2rem 0;

  summary {
    display: block;
    cursor: pointer;
    user-select: none;

    list-style: none;

    color: var(--color-text);
    transition: color 0.25s;

    strong {
      font-size: 1.125em;
      color: var(--color-accent);
    }

    span {
      display: inline-flex;
      align-items: center;

      font-weight: var(--font-bold);

      user-select: none;
      cursor: pointer;
    }

    span::after {
      content: '';
      display: block;

      width: 1rem;
      height: 1rem;
      margin-left: 0.75rem;

      mask-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><path d="M621.254 877.254l320-320c24.994-24.992 24.994-65.516 0-90.51l-320-320c-24.994-24.992-65.516-24.992-90.51 0-24.994 24.994-24.994 65.516 0 90.51l210.746 210.746h-613.49c-35.346 0-64 28.654-64 64s28.654 64 64 64h613.49l-210.746 210.746c-12.496 12.496-18.744 28.876-18.744 45.254s6.248 32.758 18.744 45.254c24.994 24.994 65.516 24.994 90.51 0z"></path></svg>');
      mask-repeat: no-repeat;
      background-color: var(--color-accent);

      transition: transform 200ms;
    }

    &::-webkit-details-marker {
      display: none;
    }

    &:hover span::after {
      transform: translateX(0.25rem);
    }

    &:hover {
      color: var(--color-text);
    }
  }

  &[open] {
    summary {
      margin-bottom: 0.5rem;
    }

    summary span::after {
      transform: rotate(90deg);
    }
  }

  @media screen and (max-width: 479px) {
    margin: 2rem 0;
  }
}