@charset "utf8";

@import url('_logo.css');
@import url('_button.css');
@import url('_header.css');
@import url('_section.css');
@import url('_form.css');
@import url('_footer.css');

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather'),
       url('/fonts/merriweather-regular.woff2') format('woff2'),
       url('/fonts/merriweather-regular.woff') format('woff');
}

html {
  --color-accent: #52fbd5;
  --color-text: #ccc;
  --color-background: #111114;
  --color-forms: #1a1a20;
  --color-light: #f0f0f0;
  --color-border: #000;

  --font-regular: -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-caption: 'Merriweather', serif;

  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 1.5rem;
  max-width: 52rem;

  font-size: 16px;
  font-family: var(--font-regular);
  line-height: 1.5;
  letter-spacing: 0.025em;

  color: var(--color-text);
  background-color: var(--color-background);

  @media screen and (max-width: 479px) {
    padding: 0 1rem;
  }
}

a {
  color: var(--color-accent);
  text-decoration: none;

  border-bottom: solid 1px;
  transition: border 0.5s, color 0.5s;

  &:hover {
    border-color: transparent;
  }
}

p {
  margin: 1rem 0 0;
  font-size: 1.25rem;

  @media screen and (max-width: 767px) {
    font-size: 1.125rem;
  }

  @media screen and (max-width: 479px) {
    font-size: 1rem;
  }
}

ul {
  margin: 1rem 0 0 2.5rem;
  font-size: 1.25rem;

  @media screen and (max-width: 767px) {
    font-size: 1.125rem;
  }

  @media screen and (max-width: 479px) {
    font-size: 1rem;
  }
}

h2 {
  margin: 0 0 1.5rem;
  padding: 0.5em 0 0;

  font-size: 3.25rem;
  font-family: var(--font-caption);
  font-weight: 400;
  line-height: 1.25;

  color: var(--color-light);

  @media screen and (max-width: 1023px) {
    font-size: 2.75rem;
  }

  @media screen and (max-width: 767px) {
    font-size: 2.25rem;
    line-height: 1.375;
  }

  @media screen and (max-width: 479px) {
    font-size: 1.875rem;
  }

  @media screen and (max-width: 359px) {
    font-size: 1.75rem;
  }
}

h3 {
  margin: 0 0 1rem;
  padding: 0.5em 0 0;

  font-size: 2rem;
  font-family: var(--font-caption);
  font-weight: 400;
  line-height: 1.25;

  color: var(--color-light);

  @media screen and (max-width: 1023px) {
    font-size: 1.75rem;
  }

  @media screen and (max-width: 767px) {
    font-size: 1.5rem;
  }

  @media screen and (max-width: 479px) {
    font-size: 1.375rem;
  }
}