doctype html
html(prefix='og: http://ogp.me/ns#')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#111114')
    meta(name='robots' content='max-image-preview:large')
    link(rel='canonical' href='https://formal.foundation/')
    link(rel='icon' type='image/png' sizes='32x32' href='/images/favicon.png')
    link(rel='icon' type='image/png' sizes='128x128' href='/images/icon-128.png')
    link(rel='icon' type='image/png' sizes='256x256' href='/images/icon-256.png')

    meta(property='og:site_name' content='Formal Crypto.')
    meta(property='og:description' content='Team of full-stack programmers and mathematicians focused on blockchain verification and smart contract technology.')
    meta(property='og:url' content='https://formal.foundation/')
    meta(property='og:title' content='Formal Crypto.')
    meta(name='description' content='Team of full-stack programmers and mathematicians focused on blockchain verification and smart contract technology.')

    title Formal Crypto.

    style
      include /styles.min.css

    body
        h1.logo
            a(href='https://formal.foundation/') Formal 
                span Crypto
            | .

        header.header
            h2 Smart contract development and blockchain verification
            p We are the team of full-stack programmers and mathematicians focused on the development of blockchain software solutions.

            a.button(href="#contacts") Contact us

        section.section
            h3#experience Works
            p Our team has been involved in a wide variety of projects, 
                | including the creation of DAOs, NFT collections, staking contracts, audits. 
                | Here are just a few of them.
            
            details.details
                summary 
                    strong AlgoEURS 
                    span — Creation of White Paper for the Stablecoin protocol

                p AlgoEURS is a decentralized finance (DeFi) protocol on Ethereum blockchain that allows users to borrow AEUR, 
                    | a stablecoin pegged to the euro, using a wide range of on-chain assets as collateral including plain Ether, 
                    | other stablecoins, non-stable fungible tokens, and various non-fungible assets. 
                    | The protocol allows borrowers to insure against the liquidation of the collateral assets and 
                    | provides a platform for investors to make money as insurers. 
                    | To create the possibility of insuring the collateral and making money on it, the protocol issues AEPUT token on Ethereum blockchain.

            details.details
                summary 
                    strong WSG 
                    span — Creating an NFT collection on the Ethereum network

                p Development of an ERC721 smart contract for Solidity, which includes the logic of a private presale, gas savings, and limiting the number of sales per wallet. 
                    br
                    | Creation of a landing page for mint new tokens, integration with MetaMask and WalletConnect. 
                    | Generating a collection of pseudo-random images and attributes depending on the weights of different layers types. 
                    | Creating an IPFS node and pinning an NFT collection to it. 
                    | Integration of the collection with the OpenSea auction. 

            details.details
                summary 
                    strong Ether Orcs analytics 
                    span — Development of a strategy for the onchain NFT game
                
                p Strategy development in order to increase the value of the investor's collection including 
                    | Smart Contracts audits for Solidity in Ethereum and Polygon networks and 
                    | creation of a real-time monitoring system with the collection of more than 20 different metrics of in-game mechanics.
                    | Setting up Telegram Bots for Instant Analytics.

        section.section
            h3#services Services
            p Having extensive experience working with a variety of customers, we can join your project at any stage: 
                | from protocol design to turnkey development.

            h4 Our core competencies:
            ul
                li Creating turnkey NFT collections
                li Development of blockchain protocols and writing a whitepaper
                li Smart Contract development and professional audit
                li Blockchain verification

        section.section
            h3#contacts Contact us
            p We are glad to receive any of your feedback and suggestions. 
                | Use contact form below or sent the message directly via 
                a(href="https://t.me/formalcrypto") Telegram
                | .

            form.form(action='/send/', method='POST')
                p
                    label Your e-mail address
                    input(name='email', type='text', required)
                p
                    label The message
                    textarea(name='text', required)
                p
                    button.button(type='submit') Send


        footer.footer
            p
                span &copy; 2020 — Formal Crypto.

        script
            include /scripts.min.js

