doctype html
html(prefix='og: http://ogp.me/ns#')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#111114')
    meta(name='robots' content='max-image-preview:large')
    link(rel='canonical' href='https://formal.works/')
    link(rel='icon' type='image/png' sizes='32x32' href='/images/favicon.png')
    link(rel='icon' type='image/png' sizes='128x128' href='/images/icon-128.png')
    link(rel='icon' type='image/png' sizes='256x256' href='/images/icon-256.png')

    meta(property='og:site_name' content='Formal Works.')
    meta(property='og:description' content='Formal Works is a team of full-stack programmers and mathematicians focused on blockchain verification and smart contract technology.')
    meta(property='og:url' content='https://formal.works/')
    meta(property='og:title' content='Formal Works.')
    meta(name='description' content='Formal Works is a team of full-stack programmers and mathematicians focused on blockchain verification and smart contract technology.')

    title Formal Works.

    style
      include /styles.min.css

    body
        h1.logo
            a(href='https://formal.works/') Formal 
                span Works
            | .

        header.header
            h2 Smart contract development and blockchain verification
            p We are the team of full-stack programmers and mathematicians focused on the development of blockchain software solutions.

            a.button(href="#contacts") Contact us

        section.section
            h3#services Services
            p You can choose any of the following development strategies: product development, outsourcing or outstaffing. We will do our best to solve your problem with maximum efficiency.
            p Our core competencies:
            ul
                li Blockchain verification
                li Smart Contract development
                li Minimum Viable Product development
                li Blockchain integrations

        section.section
            h3#experience Experience
            p The team of top-level developers with over 10 years of experience in software development. 
                | Being graduates of mathematical specialties, our programmers have an excellent theoretical base in blockchains.


        section.section
            h3#contacts Contact us
            p We are glad to receive any of your feedback and suggestions. 
                | Use contact form below or sent the message directly via 
                a(href="https://t.me/lukin") Telegram
                | .

            form.form(action='/send/', method='POST')
                p
                    label Your e-mail address
                    input(name='email', type='text', required)
                p
                    label The message
                    textarea(name='text', required)
                p
                    button.button(type='submit') Send


        footer.footer
            p
                span &copy; 2021 — Formal Works.

        script
            include /scripts.min.js



