@import 'global/variables.scss';
@import 'global/common.scss';
@import 'global/animations.scss';
@import 'blocks/header.scss';
@import 'blocks/footer.scss';
@import 'blocks/blank.scss';
@import 'blocks/services.scss';
@import 'blocks/company.scss';
@import 'blocks/projects.scss';
@import 'blocks/form.scss';
@import 'blocks/contact.scss';

@import 'blocks/buttons.scss';